<header class="border-shadow">
  <div class="container">
    <nav>
      <a href="/contacts"
        ><i class="fa-solid fa-address-book"></i> My Contacts</a
      >
    </nav>
    <div class="login-box">
      <a href="logout">log out</a>
    </div>
  </div>
</header>
